@page
@model CNCMaintenanceAutomation.Pages.MaintenanceTypes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>MaintenanceType</h4>

<br />
<br />
<div class="container">
    <div class="justify-content-center" style="border: solid 1px #9dd4cf; border-radius: 18px;">
        <div class="row p-4">
            <div class="col-6">
                <h2 class="text-info">Maintenance Types</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="Create" class="btn btn-info">
                    <i class="fas fa-plus"></i>
                    &nbsp; New Maintenance Type
                </a>
            </div>
        </div>
    </div>
    <br />
    <div>
        @if (Model.MaintenanceType.Count == 0)
        {
            <p>Maintenance type not found. Please add maintenance type.</p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(a => a.MaintenanceType[0].Id)
                    </th>
                    <th>
                        @*Maintenance Name*@
                        @Html.DisplayNameFor(a => a.MaintenanceType[0].MaintenanceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(a => a.MaintenanceType[0].MaintenancePrice)
                    </th>
                    <th>Transactions</th>
                </tr>
                @foreach (var maintenance in Model.MaintenanceType)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => maintenance.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(a => maintenance.MaintenanceName)
                        </td>
                        <td>
                            @Html.DisplayFor(a => maintenance.MaintenancePrice)
                        </td>
                        <td style="width: 150px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" asp-page="Edit" asp-route-Id="@maintenance.Id"><i class="far fa-edit"></i>&nbsp;Edit</a>
                                <a class="btn btn-success" asp-page="Details" asp-route-Id="@maintenance.Id"><i class="far fa-info-circle"></i>&nbsp;Details</a>
                                <a class="btn btn-danger" asp-page="Delete" asp-route-Id="@maintenance.Id"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            @*<tr>
                <td colspan="5" class="text-right">
                    <div page-model="@Model.UsersListViewModel.PagingInfo" asp-action="Index" page-class="btn border" page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group">
                    </div>
                </td>
            </tr>*@
        }
    </div>
</div>